/* Variables */
$primary-purple: #6c5ce7;
$secondary-yellow: #fff5a0;
$dark-text: #333333;
$card-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

/* Grid Item Background Colors*/
$bg-text-cream: #fff9e6;
$bg-shoe-blue: #0984e3;
$bg-woman-pink: #fab1a0;
$bg-letter-gray: #dfe6e9;
$bg-book-orange: #fdcb6e;

/* Main style */
body {
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
  color: $dark-text;
  background-color: #fff;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Components */
.btn-primary {
  background-color: $primary-purple;
  border-color: $primary-purple !important;
  border-radius: 50px;
  padding: 0.8rem 2.5rem;
  font-weight: 700;
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $card-shadow;
  }
}

/* Nav */
.logo-color {
  color: $primary-purple;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  padding: 1.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  .navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
  }
  .nav-link {
    font-weight: 600;
    color: $primary-purple;
    &:hover {
      color: $dark-text !important;
    }
  }
}

/* Hero Grid Layout */

.badge-fine {
  color: #d03a3a;
  display: inline-block;
}

main.container {
  position: relative;
  z-index: 1;
  /* bg + transparent*/
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("../images/Rectangle.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: lighten;
}

.hero-grid {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 1.5rem;
  height: 100%;
  margin-bottom: 5rem;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    height: auto;
  }
}

/* Left Sidebar */
.left-side {
  height: 100%;
  padding-bottom: 60px;

  article {
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .img-container {
    flex-grow: 1;
    background: #000;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: $card-shadow;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover img {
      transform: scale(1.03);
    }
  }

  .caption {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  }
}

/* Right Sidebar */
.right-side {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1.25rem;
  height: 100%;

  @media (max-width: 992px) {
    // grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }
}

/* Grid Style */
.grid-item {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
  min-height: 0;

  figcaption {
    position: absolute;
    color: white;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.1;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
}

/* Man */
.item-man {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

  figcaption {
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 3rem;
  }
}

/* Text Box */
.item-text {
  grid-column: 3 / span 2;
  grid-row: 1;
  background-color: $bg-text-cream;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
    line-height: 1.5;
    margin: 0;
  }
}

/* Letter A */
.item-a {
  grid-column: 3;
  grid-row: 2;
  background-color: $bg-letter-gray;

  img {
    object-fit: contain;
    transform: scale(0.8);
  }
}

/* Shoe */
.item-shoe {
  grid-column: 4;
  grid-row: 2;
  background-color: $bg-shoe-blue;

  img {
    object-fit: contain;
    transform: rotate(-15deg) scale(0.9);
  }
}

/* Book */
.item-book {
  grid-column: 1;
  grid-row: 3;
  background-color: $bg-book-orange;
  height: 70%;
}

/* Woman */
.item-woman {
  grid-column: 2 / span 2;
  grid-row: 3;
  background-color: $bg-woman-pink;

  figcaption {
    top: 1.5rem;
    left: 1.5rem;
    bottom: auto;
    font-size: 4rem;
  }
}

/* Window */
.item-window {
  grid-column: 4;
  grid-row: 3;
  height: 50%;
}

/* RWD */
@media (max-width: 992px) {
  .item-man,
  .item-text,
  .item-woman {
    grid-column: span 2;
    min-height: 250px;
  }

  .item-a,
  .item-shoe,
  .item-book,
  .item-window {
    grid-column: span 1;
    min-height: 200px;
  }

  h1 {
    font-size: 3rem;
  }
}

/* Features Section */
.features-section {
  padding: 5rem 0;
  background-color: #fff;
}

.features-section h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: $dark-text;
  margin-bottom: 1rem;
}

.features-section .lead {
  color: #636e72;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Icon color */
.features-section .icon-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
}

/* Background Color Define */

.bg-pink {
  background-color: #e84393;
}
.bg-blue {
  background-color: #0984e3;
}
.bg-purple {
  background-color: $primary-purple;
}
.bg-green {
  background-color: #00b894;
}

.bg-orange {
  background-color: #ffdb12cc;
}

.bg-grey {
  background-color: #d2d2d2;
}

.bg-teal {
  background-color: #9effec;
}

.features-section h4 {
  font-weight: 800;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: $dark-text;
}

/* context */
.features-section p {
  color: $dark-text;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

/* Learn more */
.btn-outline-custom {
  display: inline-block;
  border: 2px solid #dfe6e9;
  color: $primary-purple;
  background-color: transparent;
  padding: 0.6rem 1.8rem;
  font-weight: 700;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-outline-custom:hover {
  border-color: $primary-purple;
  background-color: $primary-purple;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(108, 92, 231, 0.2);
}

/*  Pricing Section */
.pricing-section {
  padding: 5rem 0;
}

.pricing-section h2.display-4 {
  font-weight: 900;
  color: $dark-text;
}

.icon-box {
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  flex-shrink: 0;
}

.highlight-monthly {
  color: $dark-text;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.highlight-monthly::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: -2px;
  width: 105%;
  height: 8px;
  background-color: #ffdb12cc;
  z-index: -1;
  border-radius: 4px;
}

.pricing-section .card {
  background: transparent;
  border: none;
  transition: transform 0.3s;
}

.pricing-section .scale-card {
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
  z-index: 2;
  padding: 1rem;
}

@media (min-width: 992px) {
  .pricing-section .scale-card {
    transform: scale(1.05);
  }
}

.pricing-section .display-4 {
  font-weight: 800;
  font-size: 3.5rem;
  color: #2d3436;
}
.pricing-section small {
  font-size: 0.9rem;
  color: #b2bec3;
  font-weight: 700;
  text-transform: uppercase;
}

.pricing-section h5.text-primary {
  color: #0984e3 !important;
  font-weight: 800;
}

.pricing-section ul li {
  margin-bottom: 1rem;
  color: $dark-text;
  font-weight: 500;
}

.btn-outline-secondary {
  border: 2px solid #dfe6e9;
  color: $dark-text;
  font-weight: 700;
  padding: 0.8rem 2rem;
}
.btn-outline-secondary:hover {
  background-color: #2d3436;
  border-color: #2d3436;
  color: #fff;
}

.pricing-section .btn-primary {
  background-color: $primary-purple;
  border: none;
  box-shadow: 0 10px 20px rgba(108, 92, 231, 0.3);
}
.pricing-section .btn-primary:hover {
  background-color: #5f27cd;
  transform: translateY(-2px);
}

/*  Footer Section  */
.footer-section {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  background-image: url("../images/Wave.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  padding-bottom: 100px;
}

.footer-section h6 {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #b2bec3 !important;
}

/* Social Icons */
.social-icon {
  font-size: 1.5rem;
  color: $primary-purple;
  transition: opacity 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Facebook-hover */
.social-icon.facebook {
  width: 40px;
  height: 40px;
  background-color: #ffeaa7;
  border-radius: 50%;
  color: $primary-purple;
}

.social-icon:hover {
  opacity: 0.8;
}

/*  Links  */
.footer-link {
  color: #2d3436;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.2s;
}

.footer-link:hover {
  color: $primary-purple;
}

.mail-info {
  font-size: 2rem;
  color: $primary-purple;
}

/*  Form Styles  */
.custom-input {
  background-color: #f1f2f6;
  border: none;
  border-radius: 12px;
  height: 3.5rem;
  font-size: 1rem;
  color: #2d3436;
}

.custom-input:focus {
  background-color: #dfe6e9;
  box-shadow: none;
}

/* form textarea */
.custom-textarea {
  background-color: #f1f2f6;
  border: 2px solid transparent;
  border-radius: 12px;
  font-size: 1.1rem;
  color: $primary-purple;
  resize: none;
  height: 100%;
  min-height: 80px;
}

.custom-textarea::placeholder {
  color: $primary-purple;
  font-weight: 600;
}

.custom-textarea:focus {
  background-color: #fff;
  border-color: $primary-purple;
  box-shadow: 0 0 0 4px rgba(108, 92, 231, 0.1);
}

/* form-button */
.footer-section .btn-primary {
  background-color: $primary-purple;
  border: none;
  min-width: 120px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.footer-section .btn-primary:hover {
  background-color: #5f27cd;
}

.web-form {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

